body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  width: 700px;
}

.half {
  width: 50%;
}

.results {
  background-color: hsl(234, 85%, 45%);
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.summary {
  padding: 20px;
}

.result {
  background-color: blue;
  border-radius: 50%;
  height: 150px; /* Adjust size of circle */
  width: 150px; /* Adjust size of circle */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-number {
  font-size: 48px !important; /* Adjust font size */
  margin-bottom: 5px; /* Adjust spacing between number and text */
}

.result span {
  display: block; /* Ensures "of 100" is on a new line */
  font-size: 20px; /* Adjust font size of "of 100" */
}

.result-stat {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 50%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 50%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 50%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 50%);
}

button {
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    width: 100%;
}

.stat {
    display: flex;
}

span img {
    padding-right: 10px;
}